**/__pycache__/
*.egg-info/
*.key*
*.keystore*
*.swp
*.mypy_cache
.coverage
.DS_store
.venv/
.vscode/
build/
dist/
/local/
debian/.debhelper
debian/pantos-validator-node
debian/tmp
debian/*debhelper*
debian/files
debian/*substvars
export
